terraform {
  backend "s3" {
    bucket         = "REPLACE_ME-terraform-state-bucket"
    key            = "dynamic-string-service/terraform.tfstate"
    region         = "eu-west-2"
    dynamodb_table = "REPLACE_ME-terraform-locks"
    encrypt        = true
  }
}
